<div class="mb-3">
  <%= form_with url: search_movies_path, method: :get do |form| %>
    <%= form.text_field :query, value: params[:query] %>
    <%= form.submit "Search" %>
  <% end %>
</div>

<div>
  <% @movies.each do |movie| %>
    <div class="mb-3 flex bg-white">
      <%= image_tag "https://image.tmdb.org/t/p/w92#{movie[:poster_path]}" %>
      <div class="p-3">
        <h2 class="text-xl"><%= link_to movie[:title], movie_path(movie[:id]) %></h2>
        <p><%= movie[:release_date] %></p>
      </div>
    </div>
  <% end %>
</div>
