<!DOCTYPE html>
<html>
  <head>
    <title>Norman</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-100">
    <div class="md:container mx-auto flex justify-between md:mt-3 p-2 bg-white md:rounded-md">
      <div class="space-x-3">
        <%= link_to "Home", root_path %>
        <%= link_to "Search movie", search_movies_path if policy(Movie).search? %>
      </div>
      <div>
        <% if current_user %>
          <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to_unless_current "Log in", new_user_session_path %>
        <% end %>
      </div>
    </div>

    <main class="container mx-auto mt-10 px-5 pb-5">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
